.l-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.l-container {
  width: 100%;
  max-width: (1000px + 32px * 2);
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;

  @include mq-cdt(tablet) {
    padding-right: 32px;
    padding-left: 32px;
  }

  .l-container__px {
    padding-right: 20px;
    padding-left: 20px;

    @include mq-cdt(laptop-l) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.l-main-content {
  width: 100%;
  background-image: url('../images/bgi.png');
  background-size: 160px;

  @include mq-cdt(tablet) {
    position: absolute;
    position: relative;
    left: 50%;
    width: 375px;
    margin-left: -20px;
    border-radius: 60px 60px 0 0;
    box-shadow: 0 0 20px #00000029;
  }

  @include mq-cdt(laptop) {
    margin-left: unset;
  }

  @include mq-cdt(laptop-l) {
    width: 500px;
  }
}

.l-side-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: math.div(2, 12) * 100vw;
  height: 100vh;
  background-color: white;

  @media screen and (width >=1440px) {
    width: calc(240px + (100vw - 1440px) * 0.5);
  }
}

.l-header-sticky {
  position: fixed;
  left: 50%;
  z-index: 3;
  width: math.div(1, 12) * 100vw;
  margin-left: calc(-5vw / 12 * 100 + -0.5vw / 12 * 100);
  background-color: red;

  @media screen and (width >=1440px) {
    width: 120px;
    margin-left: -660px;
  }
}

.l-base {
  padding-right: math.div(1vw, 12) * 100;
  padding-left: math.div(1vw, 12) * 100;
  margin-left: math.div(2vw, 12) * 100;

  @media screen and (width >=1440px) {
    padding-right: 120px;
    padding-left: 120px;
    margin-left: 240px;
  }
}

.l-wrapper {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
