.c-cta-balloon {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 28px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  line-height: 1;
  background-color: $color-secondary;
  border-radius: 9999px;

  @include mq-cdt(laptop-l) {
    height: 36px;
    font-size: 20px;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;
    z-index: 1;
    width: 0;
    height: 0;
    margin-right: auto;
    margin-left: auto;
    content: '';
    border-color: #fff200 transparent transparent;
    border-style: solid;
    border-width: 10px 6px 0;
  }
}
