.u-scroll-spacing {
  display: block;
  height: 58px;
  margin-top: -58px;

  @include mq-cdt(tablet) {
    height: unset;
    margin-top: unset;
  }
}

.is-fixed {
  // position: fixed;
  overflow-y: hidden;
}

.u-tate-cho {
  position: relative;
  right: 1px;
  display: inline-block;
  rotate: 90deg;
}
