.p-header-sticky {
  $elms-width: 40px;
  $logo-height: 326.66px;

  .p-header-sticky__container {
    padding-top: 32px;
    color: Black;

  }

  .p-header-sticky__logos {
    // display: grid;

    // height: 58px;
    // grid-template-rows: auto auto;

    gap: 6px;
    align-items: center;
    justify-content: start;
    width: 200px;
    display: block;

    // 90度回転
    // transform: rotate(-90deg);

    /* 回転の基点を左上に設定 */
    // transform-origin: top left;

    @include mq-cdt(tablet) {
      grid-template-rows: unset;
      grid-template-columns: auto auto;
      gap: 16px;
      width: unset;

    }
  }

  .p-header-sticky__logo-container {
    position: relative;
    width: $elms-width;
    height: $logo-height;
    margin: auto;
    display: block;
  }


  .p-header-sticky__logo {
    position: absolute;
    bottom: 0;
    left: $elms-width;
    width: $logo-height;
    max-width: unset;
    height: auto;

    // 90度回転
    transform: rotate(-90deg);

    /* 回転の基点を左上に設定 */
    transform-origin: top left;
    transform-origin: bottom left;
    font-size: 40px;
    line-height: 1;
    width: max-content;

    @include mq-cdt(tablet) {
      // width: (200px * 1.5);
    }
  }

  .p-header-sticky__logo-dai-ichi-life {
    width: 76px;

    @include mq-cdt(tablet) {
      width: (76px * 1.5);
      margin-top: 13px;
    }
  }

  .p-header-sticky__buttons {
    width: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    display: grid;
    gap: 16px;
  }
}
