.p-header-sticky {
  .p-header-sticky__container {
    // display: grid;
    // align-items: center;
    // justify-content: start;
    // width: 90px;

    // height: 58px;
    // margin-right: -4px;
    // margin-left: -4px;
    // left: 50%;
    // margin-left: calc(-4vw / 12 * 100);
    // position: absolute;
    // z-index: 3;

    @include mq-cdt(tablet) {
      // grid-template-columns: auto auto;
      // width: unset;
      // height: 70px;
      // margin-right: unset;
      // margin-left: unset;
    }
  }

  .p-header-sticky__logos {
    // display: grid;

    // height: 58px;
    // grid-template-rows: auto auto;
    gap: 6px;
    align-items: center;
    justify-content: start;
    width: 200px;

    // 90度回転
    // transform: rotate(-90deg);

    /* 回転の基点を左上に設定 */
    // transform-origin: top left;

    @include mq-cdt(tablet) {
      grid-template-rows: unset;
      grid-template-columns: auto auto;
      gap: 16px;
      width: unset;

      // height: 70px;
    }
  }

  .p-header-sticky__logo-container {
    position: relative;
    width: 34.02px;
    height: 480px;
    margin: auto;
  }

  .p-header-sticky__logo-dai-ichi-life-container {
    // width: (76px * 2);
    // margin-top: 7px;
  }

  .p-header-sticky__logo {
    position: absolute;
    bottom: 0;
    left: 34.02px;
    width: 480px;
    max-width: unset;
    height: auto;

    // 90度回転
    transform: rotate(-90deg);

    /* 回転の基点を左上に設定 */
    transform-origin: top left;
    transform-origin: bottom left;

    @include mq-cdt(tablet) {
      // width: (200px * 1.5);
    }
  }

  .p-header-sticky__logo-dai-ichi-life {
    width: 76px;

    @include mq-cdt(tablet) {
      width: (76px * 1.5);
      margin-top: 13px;
    }
  }
}
