.p-hero {
  height: math.div((1320vw - 300), 1440) * 100;
  margin-right: math.div(-1vw, 12) * 100;
  overflow: hidden;

  @media screen and (width >=1440px) {
    height: (1320px - 300);
    margin-right: -120px;
  }

  .p-hero__image-frame {
    position: relative;
    top: math.div(-300vw, 1440) * 100;

    @media screen and (width >=1440px) {
      top: -300px;
    }
  }

  .p-hero__image-wrapper {
    height: math.div(1320vw, 1440) * 100;
    overflow: hidden;

    @media screen and (width >=1440px) {
      height: 1320px;
    }
  }

  .p-hero__image {
    object-fit: cover;
  }

  .p-hero__logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 32px;
    width: 640px;
    margin: auto;
    opacity: 0.35;
  }
}
