.p-hero {
  height: math.div((1320vw - 300), 1440) * 100;
  margin-right: math.div(-1vw, 12) * 100;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 100dvh;
  width: 100%;

  @media screen and (width >=1440px) {
    height: (1320px - 300);
    margin-right: -120px;
  }



  .p-hero__image-wrapper {
    height: math.div(1320vw, 1440) * 100;
    overflow: hidden;

    @media screen and (width >=1440px) {
      height: 1320px;
    }
  }

  .p-hero__image {
    object-fit: cover;
    width: 100%;
    height: 100dvh;



  }

  .p-hero__logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 32px;
    width: 640px;
    margin: auto;
  }
}
