.p-hero {
  overflow: hidden;

  .p-hero__image-container {
    position: relative;
    top: math.div(-300vw, 1440) * 100;

    @media screen and (width >=1440px) {
      top: -300px;
    }
  }

  .p-hero__image {
    height: math.div(1320vw, 1440) * 100;
    margin-right: math.div(-1vw, 12) * 100;
    overflow: hidden;
    background-color: red;

    @media screen and (width >=1440px) {
      height: 1320px;
      margin-right: -120px;
    }

    img {
      object-fit: cover;

      // 中心点を下に設定
      // object-position: center bottom;
    }
  }
}
