/* ローディング画面 */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: grid;
  width: 100vw;
  height: 100dvh;
  background-color: black;
  transition: all 1s;

  .loading__logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 32px;
    width: 640px;
    margin: auto;
    opacity: 0.1;
  }
}

.loaded {
  visibility: hidden;
  opacity: 0;
}
