.js-toggle-hamburger {
  cursor: pointer;
}

.p-nav-full-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: white;
  text-align: center;
  visibility: hidden;
  background-color: rgb(0 0 0 / 80%);
  background-size: 160px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s linear;

  &.is-show {
    visibility: visible;
    opacity: 1;
  }

  .nuv-body {
    display: grid;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 58px);

    @include mq-cdt(tablet) {
      height: unset;
    }
  }

  .nuv-menus {
    padding: 32px 20px;
    text-align: left;

    @include mq-cdt(tablet) {
      height: unset;
      padding: unset;
    }
  }

  .nuv-menu {
    position: relative;
    width: fit-content;
    padding-bottom: 8px;
    margin-bottom: 32px;

    &::before,
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 0%;
      height: 1px;
      content: '';
      background-color: rgb(255 255 255 / 100%);
      transition: width 0.2s ease-out; // アニメーションの適用
    }

    &::before {
      width: 100%;
      background-color: rgb(255 255 255 / 25%);
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }

    @include mq-cdt(tablet) {
      margin-bottom: 16px;
    }

    @include mq-cdt(laptop) {
      margin-bottom: 32px;
    }
  }

  .nuv-menu-anchor {
    // margin-bottom: 32px;
    position: relative;
    display: block;
  }

  .nuv-menu-title {
    font-size: 18px;

    @include mq-cdt(laptop-l) {
      font-size: 22px;
    }
  }

  .svg-icon-instagram,
  .svg-icon-envelope,
  .svg-icon-xmark-solid {
    fill: white;
  }
}
