.p-nav {
  display: none;
  padding-top: 128px;
  padding-bottom: 32px;
  font-weight: 400;

  // 768px以上の場合
  @include mq-cdt(tablet) {
    display: block;
  }

  // 1024px以上の場合
  @include mq-cdt(laptop) {
    font-size: 18px;
  }

  .p-nav__lists {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 24px;
    justify-content: start;

    // 1024px以上の場合
    @include mq-cdt(laptop) {
      grid-template-columns: repeat(6, auto);
      gap: 16px;
    }
  }

  .p-nav__link {
    position: relative;
    display: block;
    padding-bottom: 8px;

    &::before,
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 0%;
      height: 1px;
      content: '';
      background-color: rgb(255 255 255 / 100%);
      transition: width 0.2s ease-out; // アニメーションの適用
    }

    &::before {
      width: 100%;
      background-color: rgb(255 255 255 / 25%);
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}
