.p-profile {
  .p-profile__grid {
    display: grid;
    gap: 16px;
    align-items: center;

    @include mq-cdt(tablet) {
      grid-template-columns: auto 1fr;
      gap: 32px;
    }
  }

  .p-profile__image {
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  .p-profile__paragraph {
    margin-top: 12px;
  }
}
