.p-studio {
  .p-studio__grid {
    display: grid;
    gap: 16px;
    justify-content: center;

    @include mq-cdt(tablet) {
      grid-template-columns: 1fr 1fr;
      gap: 32px;
    }
  }

  .p-studio__paragraph {
    margin-top: 12px;
  }

  .p-studio__map-container {
    position: relative;
    width: 100%;

    /* 16:9 アスペクト比 */
    height: 0;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .p-studio__rental {
    padding-top: 32px;

    // background-color: rgba(255, 255, 255, .1);
    // padding: 16px;
    margin-top: 32px;
    border-top: 1px solid rgb(255 255 255 / 35%);
  }

  .p-studio__fee {
    margin-top: 32px;

    @include mq-cdt(tablet) {
      // padding: 16px 0;
    }
  }

  .p-studio__address {
    // font-size: 14px;
  }

  .p-studio__fee-table-container {
    padding-right: 8px;
    padding-left: 8px;
    margin-top: 16px;
    background-color: rgb(255 255 255 / 15%);

    @include mq-cdt(mobile-m) {
      display: table;
    }

  }

  td {
    padding: 8px;
    font-size: 14px;
    line-height: 1;

    // border-bottom: 1px solid rgb(255 255 255 / 35%);
  }
}
